{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EasyPay</title>

    <link rel="stylesheet" href="{% static 'assets1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets1/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'assets1/css/style.css' %}">
</head>

<body>

    <!-- header-section start -->
    <header class="header-section body-collapse">
        <div class="overlay">
            <div class="container-fruid">
                <div class="row d-flex header-area">
                    <div class="sidebar-wrapper">
                        <div class="close-btn">
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                        <div class="sidebar-logo">
                          <a href="{% url 'account:dashboard' %}"><img src="{% static 'assets1/images/logo1.jpeg' %}" alt="logo"></a>
                        </div>
                        <ul>
                            <li>
                                <a href="{% url 'account:dashboard' %}">Dashboard
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Transactions
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'core:search-account' %}">
                                    Pay
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'core:request-search-account' %}">
                                   Receive
                                </a>
                            </li>

                        </ul>
                        <ul class="bottom-item">
                            <li class="active">

                              <a href="{% url 'account:account' %}">
                                Account
                            </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                  Support
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                  Quit
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <!-- alert message start -->
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{message.tags}}">
                <strong>{{message}}</strong>
            </div>
            {% endfor %}
        {% endif %}
        <script>
            setTimeout (() => {
                $(".alert").alert("close");
            }, 4000)
        </script>

        <!-- alert message end -->


    </header>
    <!-- header-section end -->
{% block content %}

{% endblock content %}
    <!--==================================================================-->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>