{% extends "partials/base.html" %}
{% block content %}
{% load static %}
    <!-- Banner Section start -->
    <section class="banner-section index">
        <div class="overlay">
            <div class="shape-area">
<!--                <img src="{% static 'assets/images/banner-box.png' %}" class="obj-1" alt="image">-->
<!--                <img src="{% static 'assets/images/banner-human.png' %}" class="obj-2" alt="image">-->
<!--                <img src="{% static 'assets/images/banner-rocket.png' %}" class="obj-3" alt="image">-->
<!--                <img src="{% static 'assets/images/banner-clock.png' %}" class="obj-4" alt="image">-->
            </div>
            <div class="banner-content">
                <div class="container wow fadeInUp">
                    <div class="content-shape">
<!--                        <img src="{% static 'assets/images/banner-wallet.png' %}" class="obj-1" alt="image">-->
                    </div>
                    <div class="row justify-content-between align-items-center">
                        <div class="col-lg-5 col-md-6">
                            <div class="main-content">
                                <div class="top-area section-text">
                                    <h5 class="sub-title">Trusted by over 3M customers</h5>
<!--                                    <h1 class="title">Pay Anyone, Anywhere</h1>-->
                                    <p class="xlr">Quickly and easily send, receive and request money online with Easypay. Get a customised solution to fit your business needs.</p>
                                </div>
                                <div class="bottom-area d-xxl-flex">
                                    <a href="{% url 'userauths:sign-up' %}" class="cmn-btn">Open a Free Account</a>
                                    <a class="cmn-btn active mfp-iframe popupvideo" href="https://www.youtube.com/watch?v=Djz8Nc0Qxwk">See How it Works</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-4 col-xl-5 col-md-6">
                            <div class="send-money">
<!--                                <form action="#">-->
<!--                                    <div class="currency-area">-->
<!--                                        <div class="left-side">-->
<!--                                            <span class="mdr">You send</span>-->
<!--                                            <h5>1,000</h5>-->
<!--                                        </div>-->
<!--                                        <div class="right-side">-->
<!--                                            <select>-->
<!--                                                <option value="1">USD</option>-->
<!--                                                <option value="2">GBP</option>-->
<!--                                                <option value="3">AUS</option>-->
<!--                                            </select>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="calculation">-->
<!--                                        <div class="head-area">-->
<!--                                            <img src="{% static 'assets/images/icon/conversion.png' %}" alt="image">-->
<!--                                            <span class="mdr highlight">Show calculation</span>-->
<!--                                        </div>-->
<!--                                        <div class="calculation-details">-->
<!--                                            <div class="single-area d-flex align-items-center">-->
<!--                                                <div class="left-area">-->
<!--                                                    <i class="fas fa-minus"></i>-->
<!--                                                    <span class="mdr">10.04 USD</span>-->
<!--                                                </div>-->
<!--                                                <div class="right-area">-->
<!--                                                    <span class="mdr">Our fee</span>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="single-area d-flex align-items-center">-->
<!--                                                <div class="left-area">-->
<!--                                                    <i class="fas fa-equals"></i>-->
<!--                                                    <span class="mdr">989.96 USD</span>-->
<!--                                                </div>-->
<!--                                                <div class="right-area">-->
<!--                                                    <span class="mdr">We’ll Convert</span>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="single-area d-flex align-items-center">-->
<!--                                                <div class="left-area">-->
<!--                                                    <i class="fas fa-times"></i>-->
<!--                                                    <span class="mdr">1.3947</span>-->
<!--                                                </div>-->
<!--                                                <div class="right-area">-->
<!--                                                    <span class="mdr highlight">Easypay Rate</span>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="currency-area">-->
<!--                                        <div class="left-side">-->
<!--                                            <span class="mdr">Recipient gets</span>-->
<!--                                            <h5>1,380.69</h5>-->
<!--                                        </div>-->
<!--                                        <div class="right-side recipient">-->
<!--                                            <select>-->
<!--                                                <option value="1">AUS</option>-->
<!--                                                <option value="2">USD</option>-->
<!--                                                <option value="3">GBP</option>-->
<!--                                            </select>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="btn-area mt-40">-->
<!--                                        <a href="{% url 'userauths:sign-in' %}" class="cmn-btn w-100">Get Started</a>-->
<!--                                    </div>-->
<!--                                </form>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="counter-section">
            <div class="container wow fadeInUp">
                <div class="row cus-mar">
                    <div class="col-xl-4 col-md-3 col-sm-6">
                        <div class="single-area d-flex align-items-center justify-content-center">
                            <div class="text-area text-center">
                               <h2>1</h2>
                                <p>Supported Currencies</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-3 col-sm-6">
                        <div class="single-area d-flex align-items-center justify-content-center">
                            <div class="text-area text-center">
                               <h2>1</h2>
                                <p>Available Countries</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-3 col-sm-6">
                        <div class="single-area d-flex align-items-center justify-content-center">
                            <div class="text-area text-center">
                                <h2>2</h2>
                                <p>Payment Methods</p>
                            </div>
                        </div>
                    </div>
<!--                    <div class="col-xl-3 col-md-3 col-sm-6">-->
<!--                        <div class="single-area d-flex align-items-center justify-content-center">-->
<!--                            <div class="text-area text-center">-->
<!--                                <h2>1</h2>-->
<!--                                <p>Support Team</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </section>

    <!-- How it Works start -->
    <section class="how-it-works">
        <div class="overlay pb-120">
            <div class="container wow fadeInUp">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-header text-center">
                            <h5 class="sub-title">How it works?</h5>
                            <h2 class="title">Just few steps to start</h2>
<!--                            <p>It's easier than you think. Follow 3 simple easy steps</p>-->
                        </div>
                    </div>
                </div>
                <div class="row cus-mar">
                    <div class="col-xl-3 col-sm-6 col-6">
                        <div class="single-item first text-center">
                            <img src="{% static 'assets/images/icon/how-works-icon-1.png' %}" alt="icon">
                            <h5>Register for free</h5>
                            <p>Simply sign up online for free and verify your identity</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-6">
                        <div class="single-item second text-center">
                            <img src="{% static 'assets/images/icon/how-works-icon-2.png' %}" alt="icon">
                            <h5>Set up your transfer</h5>
<!--                            <p>Add a recipient's details and choose which currency ...</p>-->
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-6">
                        <div class="single-item first text-center">
                            <img src="{% static 'assets/images/icon/how-works-icon-3.png' %}" alt="icon">
                            <h5>Make your payment</h5>
<!--                            <p>Send us your funds with a bank transfer and we'll notify..</p>-->
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-6">
                        <div class="single-item text-center">
                            <img src="{% static 'assets/images/icon/how-works-icon-4.png' %}" alt="icon">
                            <h5>You're all done!</h5>
<!--                            <p>We inform you when the money has been sent and can also ...</p>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- How it Works end -->

{% endblock content %}