{% extends "partials/dashboard-base.html" %}
{% load static %}

{% block content %}

    <section class="dashboard-section body-collapse pay step">
        <div class="overlay pt-20">
            <div class="container-fruid">
                <div class="main-content">
                    <div class="head-area d-flex align-items-center justify-content-between">
                        <h4>Support Page</h4>
                    </div>
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <form class="flex-fill" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class ='right'><button type="submit" style="padding: 10px 30px; border-radius: 10px; background: #802525; color: #fff;">Submit</button></div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
