{% extends 'partials/base.html' %}

{% block content %}
    {% load static %}
    <!-- Password Reset Form Starts Here -->
    <section class="login-reg">
        <div class="overlay pt-120">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-5">
                        <div class="single-input">
                            <h2 class="title" style="margin-top: 60px; margin-left: 50px">Reset Password</h2>
                        </div>

                        <form method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="single-input" style="margin-bottom: 20px;">
                                    {% if field.name == 'email' %}
                                        <input type="email" name="{{ field.name }}" placeholder="{{ field.label }}" required>
                                    {% else %}
                                        <input type="password" name="{{ field.name }}" placeholder="{{ field.label }}" required>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <button class="cmn-btn w-100" style="margin-top: 10px;" type="submit">Reset Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Password Reset Form Ends Here -->
{% endblock %}