{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

    <section class="password-reset-confirm">
        <div class="overlay pt-120">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-6">
                        <div class="section-text text-center">
                            <h2 class="title" style="margin-top: 20px;">Reset Your Password</h2>
                        </div>

                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        <form method="post" action="{% url 'userauths:password_reset_confirm'  %}">
                            {% csrf_token %}
                             <div class="single-input-pass" style="margin-bottom: 20px;">
                                <input type="email" name="email" placeholder="Email" >
                            </div>
                            <div class="single-input-pass" style="margin-bottom: 20px;">
                                <input type="password" name="new_password" placeholder="New Password" required>
                            </div>
                            <div class="single-input-pass" style="margin-bottom: 20px;">
                                <input type="password" name="confirm_password" placeholder="Confirm Password" required>
                            </div>
                            <button class="cmn-btn w-100" type="submit">Reset Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}